# Laboratorio 5
### Integrantes:
- Paola Contreras, 20213
- Paola de León, 20361

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

El archivo UK_foods.csv contiene datos del consumo, en gramos, por persona
por semana de diferentes comidas en cuatro países del Reino Unido.

## Exploración de data

In [2]:
data = pd.read_csv("./UK_foods.csv")
data.head()

          Product  England  Wales  Scotland  N.Ireland
0          Cheese      105    103       103         66
1   Carcass_meat       245    227       242        267
2     Other_meat       685    803       750        586
3            Fish      147    160       122         93
4  Fats_and_oils       193    235       184        209

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Product    17 non-null     object
 1   England    17 non-null     int64
 2   Wales      17 non-null     int64
 3   Scotland   17 non-null     int64
 4   N.Ireland  17 non-null     int64
dtypes: int64(4), object(1)
memory usage: 808.0+ bytes

In [4]:
data.describe()

           England        Wales     Scotland    N.Ireland
count    17.000000    17.000000    17.000000    17.000000
mean    469.647059   503.941176   460.235294   429.941176
std     452.701466   463.859282   469.595907   479.896014
min      54.000000    64.000000    53.000000    41.000000
25%     156.000000   175.000000   147.000000   135.000000
50%     253.000000   265.000000   242.000000   209.000000
75%     685.000000   803.000000   566.000000   586.000000
max    1472.000000  1582.000000  1572.000000  1506.000000

In [10]:
product = "Cheese"

plt.figure(figsize=(10, 6))
sns.set(style="whitegrid")

sns.lineplot(x="Product", y=product, data=df, label=product)

plt.title(f'Tendencia de "{product}" en las Cuatro Regiones')
plt.xlabel('Región')
plt.ylabel('Cantidad')
plt.xticks(rotation=45)
plt.legend(loc="upper right")
plt.show()

TypeError: 'module' object is not callable